{
  "env": {
    "cjs": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "umd": {
      "plugins": ["transform-es2015-modules-umd"]
    }
  },
  "plugins": ["@babel/plugin-proposal-object-rest-spread"],
  "presets": ["@babel/env", "@babel/react"]
}
